fastapi
uvicorn
pydantic
lightgbm==4.6.0
scikit-learn==1.7.1
joblib==1.5.1
boto3
numpy==1.26.4
aiokafka
pandas
requests
transformers
torch
accelerate
huggingface_hub
matplotlib
SQLAlchemy
pymysql
python-dotenv
APScheduler==3.10.4
cryptography
